<div class="login-container">
    <div class="login-header">
        <h2>LOGIN</h2>
    </div>

    <div class="login-body">
        <form class="login-form-container" ng-submit="loginCtrl.attemptLogin()">
            <input type="email" class="loginTextInput" placeholder="Email" 
                data-ng-model="loginCtrl.loginInfo.username" 
                data-ng-class="{'invalid-input': !loginCtrl.emailPassed}" required>
            <input type="password" class="loginTextInput" placeholder="Password" 
                data-ng-model="loginCtrl.loginInfo.password" 
                data-ng-class="{'invalid-input': !loginCtrl.passwordPassed}" required>
            <div class="other-options">
                <input type="checkbox" name="rememberMe">
                <label for="rememberMe">Remember Me</label>
                <a class="forget-password pull-right" href="">Forgot Password?</a>
            </div>
            <input type="submit" class="login-btn" value="LOGIN" />
        </form>
        <div class="social-login-container">
            <p>Or sign in with a social account</p>
            <div class="social-icons-container">
                <div class="social-login-icon twitter-container">
                    <i class="fa fa-3x fa-twitter"></i>
                </div>
                <div class="social-login-icon facebook-container">
                    <i class="fa fa-3x fa-facebook"></i>
                </div>
            </div>
        </div>
    </div>
</div>